name: CI

on:
  push:
    branches: ['main', 'changeset-release/main']
  pull_request:

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      DO_NOT_TRACK: 1

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4.2.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22.15.0
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Checks
        run: pnpm checks
